@model Shop.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h2>Registrar Nuevo Usuario</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="FirstName">Nombre</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PApellido">Primer Apellido</label>
                <input asp-for="PApellido" class="form-control" />
                <span asp-validation-for="PApellido" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="SApellido">Segundo Apellido</label>
                <input asp-for="SApellido" class="form-control" />
                <span asp-validation-for="SApellido" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Teléfono</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirm</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar Nuevo Usuario" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

