
@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <img src="~/images/gopher3.png" />
        <h2>Sorry, page not found</h2>
    </div>
</div>

